body {
  background-color: rgb(39, 76, 101);
  text-align: center;
}

.title {
  color: rgba(240, 248, 255, 0.745);
  font-size: 50px;
}

.subtitle {
  color: rgb(101, 191, 146);
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1.5%;
}
