body {
  background-color: rgb(78, 103, 119);
  text-align: center;
}

.title {
  color: rgba(240, 248, 255, 0.745);
  font-size: 30px;
}

.button {
padding: 1%;
}

.subtitle {
  color: rgba(254, 184, 238, 0.869);
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 1.5%;
}
